{% extends '::dashboard.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block css %}<link href="{{ asset('css/user.css') }}" rel="stylesheet">{% endblock %}
{% block body %}<div class="alert alert-success">Welcome <strong>{{app.user.firstname}}</strong> to Dashboard</div>
	<div class="col-md-6 pull-right">
	<form action="{{ path('updateuser') }}" class="form" id="frmEditUser" method="post" {{ form_enctype(form) }}>
       {% if app.session.flashbag.get('updateuser') %}
       <div class="alert alert-info">
       		User Information successfully Updated
       </div>
       	{% else %}
       	<div class="alert alert-danger">
       		<strong> Edit your Account </strong>
       	</div>
       	{% endif %}
	<div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Enter your Email', 'value' : app.user.email, 'disabled' : 'disabled'} }) }}
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Firstname</label>
        {{ form_widget(form.firstname, { 'attr': {'class': 'form-control', 'placeholder': 'Enter your Lastname', 'value' : app.user.lastname} }) }}
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Lastname</label>
        {{ form_widget(form.lastname, { 'attr': {'class': 'form-control', 'placeholder': 'Enter your Firstname', 'value' : app.user.firstname} }) }}
    </div>
	<input type="submit" class="btn btn-success pull-right" value="Update"/>
	</form>
</div>
{% endblock %}
