{% extends '::base.html.twig' %}

{% block title %}Login{% endblock %}
{% block css %}<link href="{{ asset('css/user.css') }}" rel="stylesheet"> {% endblock %}

{% block body %}
	{% if app.session.flashbag.get('activated') %}  
		<div class="alert alert-success">You have successfully activated your account. Login now!</div> 
	{% elseif app.session.flashbag.get('notactivated') %}  
		<div class="alert alert-danger">Your account is already activated. You can login now.</div> 
	{% elseif app.session.get('notyetactivated') %}  
		<div class="alert alert-danger">Your account is not yet activate. Check your email. </div> 
	{% elseif error %}
	    <div class="alert alert-danger">{{ error.message }}</div>
	{% elseif app.session.flashbag.get('resetlinkexpired') %}  
		<div class="alert alert-danger">Reset link is already expired or already been used. Please request another one. Click here <a href="forgotpass">Forgot Password</a></div> 
	{% else %}
		<div class="alert alert-success">Hello. Click here to <a href="signup"> Sign up</a> or <a href="forgotpass"> Forgot Password</a></div> 
	{%endif%}

{% endblock %}
{% block loginform %}
	<form action="{{ path('login_check') }}" class="navbar-form navbar-right" method="post">
		<div class="form-group">
	        {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Email', 'value': last_username } }) }}
	    </div>
	    <div class="form-group">
	        {{ form_widget(form.password, { 'attr': {'class': 'form-control', 'placeholder': 'Password'} }) }}
	    </div>
		<input type="submit" class="btn btn-success"/>
	</form>
	
{#
<form action="{{ path('login_check') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />

    <input type="hidden" name="_target_path" value="account" />

    <input type="submit" name="login" />
</form> #}
{% endblock %}
