{% extends '::base.html.twig' %}

{% block title %}Sign Up{% endblock %}
{% block css %}<link href="{{ asset('css/user.css') }}" rel="stylesheet"> {% endblock %}

{% block body %}
<div class="col-md-6">
	<form action="{{ path('saveuser') }}" class="form" id="frmSignup" method="post" {{ form_enctype(form) }}>
       {% if app.session.flashbag.get('saveuser') %}
       <div class="alert alert-success">
       		User successfully save. Please activate your account that we send to your email
       </div>
       	{% else %}
       	<div class="alert alert-info">
       		Enter your Details
       	</div>
       	{% endif %}
    
	<div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Enter your Email'} }) }}
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Firstname</label>
        {{ form_widget(form.lastname, { 'attr': {'class': 'form-control', 'placeholder': 'Enter your Lastname'} }) }}
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Lastname</label>
        {{ form_widget(form.firstname, { 'attr': {'class': 'form-control', 'placeholder': 'Enter your Firstname'} }) }}
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Password</label>
        {{ form_widget(form.password, { 'attr': {'class': 'form-control', 'placeholder': 'Password'} }) }}
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Confirm</label>
        {{ form_widget(form.conpassword, { 'attr': {'class': 'form-control', 'placeholder': 'Confirm your password'} }) }}
    </div>
	<input type="submit" class="btn btn-success" id="btnsaveuser" data-loading-text="Please wait"/>
	</form>
</div>
{% endblock %}
